<html>
<head>
    <title>HipChat Configuration</title>
    <meta name="admin.active.section" content="admin_system_menu/top_system_section/mail_section">
    <meta name="admin.active.tab" content="hipchat.config.link">
</head>
<body>
<form action="${req.contextPath}/secure/admin/HipChatConfiguration.jspa" method="post" class="aui">
    <div class="form-body">
        <h2>$i18n.getText("hipchat.admin.title")</h2>

        #if($success)
            <div class="aui-message success"><span class="aui-icon icon-success"></span>
                <p>$i18n.getText("hipchat.admin.savedsuccessfully")</p>
            </div>
        #end
        #if($invalidInput)
            <div class="aui-message error"><span class="aui-icon icon-error"></span>
                <p class="title">$i18n.getText('common.words.error')</p>
                #foreach ($error in $action.getErrorMessages())
                    $textutils.htmlEncode(${error})
                #end
            </div>
        #end

        <p>
            $i18n.getText("hipchat.admin.intro")
        </p>

        #if ($devMode)
        <div class="field-group">
            <label for="hipChatApiBaseUrl">$i18n.getText("hipchat.admin.apibaseurl")</label>
            <input id="hipChatApiBaseUrl" class="text" type="text" name="hipChatApiBaseUrl"
                   value="$textutils.htmlEncode($hipChatApiBaseUrl)">
        </div>
        #end

        <div class="field-group">
            <label for="hipChatAuthToken">
                $i18n.getText("hipchat.admin.admintoken")
                <span class="aui-icon icon-required"></span>
                <span class="content"> $i18n.getText("admin.common.words.required")</span>
            </label>
            <input id="hipChatAuthToken" class="text" type="password" name="hipChatAuthToken"
                   value="$textutils.htmlEncode($hipChatAuthToken)">
        </div>

        <input type="hidden" name="atl_token" value="$atl_token">

        <div class="buttons-container">
            <div class="buttons">
                <input class="button submit" type="submit" value="Save"/>
            </div>
        </div>
    </div>
</form>
</body>
</html>